
/* 
    Created on : 13 oct 2025, 10:53:00 a. m.
    Author     : alejadro reyes castillo
*/



@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
    height: 100vh;
  
    overflow-x: hidden;
}


.div__header--main {

    background-color: rgb(37, 37, 39);
    position: fixed;
    display: flex;
    width: 99%;
    height: 80px;
    border: 2px solid red;
    align-items: center;
}

.div__header {

    position: relative;
    display: flex;
    width: 400px;
    height: 80px;
    align-items: center;
    justify-content: center;
    border: 2px solid red;
}

header {
    
    font-family: 'Arial', sans-serif;
    font-size: 1.2rem;
    background-color: blue;
    color: white;
    position: relative;
    display: flex;
    width: 150px;
    height: 55px;
    padding: 0 15px;      /* espacio interno */
    
    border: 3px solid white;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.div__search--main {
 
    position: relative;
    display: flex;
    width: 75%;
    height: 70px;
    justify-content: center;
    align-items: center;
    border: 2px solid blue;
}

@media(max-width:600px) {

    .div__search--main{

       display: none; 
    }
}

.page_search {

    font-size: 1.1em;
    color:rgb(255, 255, 255);
    background-color: rgb(54, 55, 56);
    width: 50%;
    height: 50px;
    border: 3px;
    border-radius: 10px;
    padding: 10px;
    border: 3px solid whitesmoke;
}



.div__button {

    display: flex;
    position: relative;
    width: 400px;
    height: 55px;
    border: 2px solid green;
    justify-content: center;
    align-items: center;
}


.button__settings {

    width: 40px;
    height: 40px;
    margin: 10px;

}

.img__settings {

    width: 40px;
    height: 40px;
}


.button__notification{

    width: 40px;
    height: 40px;
    margin: 10px;
}

.img__notification {

    width: 40px;
    height: 40px;
}


.button__message {

    width: 40px;
    height: 40px;
    margin: 10px;
}

.img__message {

    width: 40px;
    height: 40px;

}


.button__user {

    width: 40px;
    height: 40px;
    margin: 10px;
}

.img__user {

    width: 40px;
    height: 40px;
}









/* ---------------------------------------------------------------------------- Cell ---------------------------------------------------------------------------------------*/


/* ----------------------------------------------------------------------------Laptop 14 inch ---------------------------------------------------------------------------------------*/


/*--------------------------------------------------------------------------------- Div main -----------------------------------------------------------------------------------------*/


/* ---------------------------------------------------------------------------- PC Monitor 21 inch ---------------------------------------------------------------------------------------*/



/* ---------------------------------------------------------------------------- PC Monitor 32 inch ---------------------------------------------------------------------------------------*/

