


.register__page {

    background-color: rgb(33, 34, 36);
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;

}

.register__header {

    font-size: 1.5em;
    background-color: blue;
    height: 50px;
    width: 200px;
    margin: 30px;
}

.register__main {

    display: flex;
    position: relative;
    height: 80%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    border-radius: 2px;
    border: 2px solid red;

}

.register__form {

    background-color: rgb(37, 37, 37);
    display: flex;
    position: relative;
    height: 600px;
    width: 400px;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    margin: 30px;

}

.register__fieldset {

    
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    flex-direction: column;
    margin: 30px;
    
}

.register__label {

    color: whitesmoke;
    position: relative;
    font-size: 1.3em;
    margin-bottom: 5px;
}

.register__input {

    background-color: rgb(206, 206, 206);
    display: flex;
    position: relative;
    font-size: 1.1em;
    height: 40px;
    border: 2px solid whitesmoke;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.register__div_button {

    display: flex;
    position: relative;
    width: 100%;
    height: 100px;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    
}

.register__button_register {

    font-size: 1.3rem;
    color: white;
    background-color: blue;
    display: flex;
    position: relative;
    width: 110px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid white;
    align-items: center;
    justify-content: center;

}

.register__button_register:hover {


}

.register__button_register:active {

    
}

.register__hr {

    color: whitesmoke;
    display: flex;
    position: relative;
    margin-top: 20px;
}

.register__footer {

    color: white;
    display: flex;
    position: relative;
    height: 100px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}












































